
<p-dialog id="modale-planning" [(visible)]="display" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '80vw'}">
    <div class="container">
        <div class="signature">
            <app-signature-pad></app-signature-pad>
            <p-selectButton [options]="paymentOptions" [(ngModel)]="value2" optionLabel="name"
	optionValue="value"></p-selectButton>
        </div>
        <div class="w-15rem">
        <app-modal-scroll></app-modal-scroll>
        </div>
    </div>
    <div class="container-button">
        <button pButton type="button" label="Valider mes choix" ></button>
        <button  class="red"pButton type="button" label="Cloturer le module" ></button>
    </div>
</p-dialog>

<button pButton type="button" (click)="showDialog()" icon="pi pi-info-circle" label="Show"></button>

