
<p-card  style="width: 60%; border-radius: 25px; padding: 20px; margin-right: 10px; height: 80%; box-shadow: 5px 5px 30px lightgray;">
    <div>
        <h2>Cours</h2>
        <p>{{title}}</p>
    </div>
    <div>
        <h2>Lieu</h2>
        <p>{{place}}</p>
    </div>
    <div style="display:flex; justify-content:space-between;">
        <div>
            <h2 >Date de début</h2>
            <p>{{start_date()}}</p>
        </div>
        <div>
            <h2>Date de fin</h2>
            <p>{{end_date()}}</p>
        </div>
        <div></div>
    </div>
    <div>
        <h2>Descriptif</h2>
        <p>{{description}}</p>
    </div>
</p-card>
<p-card style="width: 30%; box-shadow: 5px 5px 30px lightgray; border-radius: 25px; padding: 20px;margin-left: 10px; height: 80%; text-align: center;">
    <h2>Pariticpants</h2>
    <p-divider></p-divider>
</p-card>