<div class="grid p-fluid flex-1 flex align-items-center justify-content-center h-full m-0">
    <p-card  [style]="{'height':'35rem'}" class="col-12 md:col-8 p-5 border-round border-white-alpha-90" >
        <div>
            <app-underline-title title="Cours"></app-underline-title>
            <p>{{findModuleById().subject}}</p>
        </div>
        <div>
            <app-underline-title title="Lieu"></app-underline-title>
            <p>{{findModuleById().place}}</p>
        </div>
        <div class="grid p-fluid">
            <div class="col-12 md:col-6">
                <app-underline-title title="Date de début"></app-underline-title>
                <p>{{findModuleById().start_date}}</p>
            </div>
            <div class="col-12 md:col-6">
                <app-underline-title title="Date de fin"></app-underline-title>
                <p>{{findModuleById().end_date}}</p>
            </div>
            <div></div>
        </div>
        <div>
            <app-underline-title title="Description"></app-underline-title>
            <p>{{findModuleById().description}}</p>
        </div>
    </p-card>
    <p-card [style]="{'height':'35rem'}" class="col-12 md:col-4 p-5 text-center border-round border-white-alpha-90 md:vertical-align-middle">
        <app-modal-scroll></app-modal-scroll>
    </p-card>
</div>